   #wrapper{ 
            width:100vw;
            height:100vh;
            display: flex;
        }
        
        #left_pannel{
            height:100vh;
            background-color: #FEFBF8;
            flex: 1;
        }

        .sidebar-title{
            font-weight: 700;
            font-size: 20px;
            padding-top: 20px;
        }
    
        .sidebar-search{
            position: relative;
            padding-top: 20px;
        }
    
        .sidebar-input{
            border-radius: 7px;
            background-color: #f7f2e8;
            outline:none;
            width:100%;
            padding: 8px 10px;
            border: 1px solid;
            padding-right: 50px;
            
        }
    
        .sidebar-input:focus{
            border-color:#f7c663;
        }
    
        .sidebar-submit{
            cursor: pointer;
            right:14px;
            top:50%;
            position: absolute;
            background-color: transparent;
            outline: transparent;
            border: none;
            /*transform: translateY(-30%)*/
        }/*add text to show that the magnifying glass means search*/
    
        .sidebar-submit:hover{
            font-size: 25px;
        }
    

        #right_pannel{
            height:100vh;
            background-color: #f7f2e8;
            flex: 3;
        }

        #header{
            background-color: #fab62d;
            height:70px;
        }

        #right_pannel .container-messages{
            position: absolute;
            display:flex;
            bottom: 0;
            width: 80%;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
        }

        #right_pannel .container-messages input{
            width: 70%;
            border-radius: 7px;
            background-color: white;
            outline:none;
            padding: 8px 10px;
            border: 1px solid;

        }

        #right_pannel .container-messages .message-submit{
            cursor: pointer;
            position: relative;
            right: 40px;
            background-color: transparent;
            outline: transparent;
            border: none;
            font-size: 20px;
            
        }
