body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/*start of beginning*/
.chat-section{
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -160px 0 0  var(orange);
    min-height: 100vh;
    display: flex;
}

.container{
    max-width: 1400px;
    height: 740px;
    width:100%;
    box-shadow: 0 8px 24px -4px rgba(0,0,0, .1);
    background-color: white;
}
/*end of beginning*/


/*start of content side*/

    .content{
        padding-left: 10px;
    }

    .sidebar{
        width:250px;
        padding: 16px;
    }

    .sidebar-title{
        font-weight: 700;
        font-size: 20px;
    }

    .sidebar-search{
        position: relative;
    }

    .sidebar-input{
        border-radius: 7px;
        background-color: #f7f2e8;
        outline:none;
        width:100%;
        padding: 8px 10px;
        border: 1px solid;
        padding-right: 40px;
    }

    .sidebar-input:focus{
        border-color:#f7c663;
    }

    .sidebar-submit{
        cursor: pointer;
        right:16px;
        top:50%;
        position: absolute;
        background-color: transparent;
        outline: transparent;
        border: none;
        transform: translateY(-50%)
    }/*add text to show that the magnifying glass means search*/

    .sidebar-submit:hover{
        font-size: 25px;
    }

    .messages-list{
        list-style-type: none;
    }

    .message-info{
        margin-right: 12px;
        display:grid; /* enables each part of info to be on the correct line and in the correct spacing*/
    }

    .messages-list > * > a{
        display: flex; 
        align-items: center;
        width: 100%;
        text-decoration: none;
    }


    .message-name{
        display: block;
        font-size: 15px;
        font-weight: 500;

    }

    .message-text{
        text-overflow: ellipsis; /*this means if the text can not fit it will replace the ending text with eclipse.*/
        font-size: 13px;
        color: #d4d4d4;
        overflow: hidden; /* This hides the overflow if any, so it does not go to the other page*/
        /*.. why*/white-space: nowrap
    }

    .message-unread{
        font-weight:500;
        font-size: 12px;
        background-color: #fab62d;

    }

/*end of content side*/

/* start of breakpoints*/
@media screen and (max-width: 1600px){
    container{
        max-width: unset;
        height: 100vh;
    }
}
/*end of breakpoints*/
