p.some-text {
    font-weight: bold;
    font-size: var(--footnote);
}

.inLineBlock {
    display: inline-block;
}


.chart-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 250;
    height: 250px;
    border: 10px white;
}
