p.some-text {
    font-weight: bold;
    font-size: var(--footnote);
}

.inLineBlock {
    display: inline-block;
}

#chartsContainer {
    display: flex;
}

.chart {
    width: 20%;
    box-sizing:border-box;
    padding: 20px;
    display: inline-block;
}

