p.some-text {
    font-weight: bold;
    font-size: var(--footnote);
}

.inLineBlock {
    display: inline-block;
}

#chartsContainer {
    display: flex;
    justify-content: space-between;
}

.chart {
    width: 30%;
}
